* {
  box-sizing: border-box;
}

.content {
  margin-top: 100px;
}

.calculator {
  width: 440px;
  height: 630px;
  border: 1px solid black;
  margin: 0 auto;
  box-shadow: 0px 0px 7px 2px black;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 200px;
  background-color: rgb(231, 231, 231);
}

.historybtn {
  align-self: flex-end;
  margin: 10px 15px 0 0;
}

.numsondisplay {
  align-self: flex-end;
  margin: 0 20px 35px 0;
  font-size: 45px;
}

.daynight__mode {
  margin: 25px 0;
}

.btn {
  width: 100px;
  height: 55px;
  margin: 2px;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin: 3px;
}

.btnblock {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 330px;
}

.operators {
  width: 105px;
}